<%include template/header %>

<div class="banner">
	<div class="container">
		<div class="banner_desc">
			<h1>shoes for everybody</h1>
			<h2>Gia hop ly, thoi thuong</h2>
			
		</div>
	</div>
</div>	
<div class="content_top">
	<h3 class="m_1">Danh sach San pham</h3>
	<div class="container">
	   <div class="box_1">
	       <div class="col-md-7">
			    <div class="section group">
						<div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
							<div class="shop-holder">
		                         <div class="product-img">
		                            <a href="single.html">
		                                <img width="225" height="265" src="images/pic1.jpg" class="img-responsive"  alt="item4">		                            </a>
		                            <a href="" class="button item_add"></a>		                         </div>
		                    </div>
		                    <div class="shop-content" style="height: 80px;">
		                            <div><a href="single.html" rel="tag">humour</a></div>
		                            <h3><a href="single.html">Non-charac</a></h3>
		                            <span class="amount item_price">$45.00</span>
		                    </div>
						</div>
						<div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
							<div class="shop-holder">
		                         <div class="product-img">
		                            <a href="single.html">
		                                <img width="225" height="265" src="images/pic2.jpg" class="img-responsive"  alt="item4">		                            </a>
		                            <a href="" class="button item_add"></a>		                         </div>
		                    </div>
		                    <div class="shop-content" style="height: 80px;">
		                            <div><a href="single.html" rel="tag">humour</a></div>
		                            <h3><a href="single.html">Non-charac</a></h3>
		                            <span class="amount item_price">$45.00</span>
		                    </div>
						</div>
						<div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
							<div class="shop-holder">
		                         <div class="product-img">
		                            <a href="single.html">
		                                <img width="225" height="265" src="images/pic3.jpg" class="img-responsive"  alt="item4">		                            </a>
		                           <a href="" class="button item_add"></a>	                         </div>
		                    </div>
		                    <div class="shop-content" style="height: 80px;">
		                            <div><a href="single.html" rel="tag">humour</a></div>
		                            <h3><a href="single.html">Non-charac</a></h3>
		                            <span class="amount item_price">$45.00</span>
		                    </div>
						</div>
						<div class="clearfix"></div> 
				</div>
		</div>
		<div class="col-md-5 row_3">
			 
				
	    </div>
		<div class="clearfix"></div>
	</div>
</div>
</div> 

	
	
	<!--------------footer-------------------------------------------->
<%include template/footer %>
