<%include template/header %>
  <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                    <p>
                        <strong>id</strong>: <%= userModel.facebook.id %><br>
                        <strong>token</strong>: <%= userModel.facebook.token %><br>
                        <strong>email</strong>: <%= userModel.facebook.email %><br>
                        <strong>name</strong>: <%= userModel.facebook.name %>
                    </p>
            </div>
        </div>
<%include template/footer %>

